  <div class="menu">
    <a href="/post-twitter">Post on twitter</a> / 
    <a href="/post-facebook">Post on facebook</a> / 
    <a href="/post-photo-facebook">Post webcam photo on facebook</a>
  </div>

  <p>
  <% if session['access_token'] %>
    You are logged in! <a href="/logout">Logout</a>
  <% else %>
    <a href="/login">Login</a>
  <% end %>
  </p>
